<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Web-2</title>
</head>
<body>

<!--<form action="/login" method="GET">
&lt;!&ndash;    <button type="submit" value="Login"></button>&ndash;&gt;
    <p>Email: ${email}</p>
    <p>Password: ${password}</p>
    <p>Id: ${id}</p>
</form>-->

<form action="/login" method="POST">
    Email: <input type="email" name="email"/>
    Password: <input type="password" name="password"/>
    <button type="submit" value="Login"></button>
</form>

</body>
</html>

